        a {
    color:green;
}
        p{
    color:orange;
}
        li{
            color:rgb(14, 14, 15);
            border: 1px solid black;
            background-color: aqua;
        }

          tr{
            border: 3 px orangered;

        }

        table{
            border: 5 px darkred;
            background-color: orange;

        }
          td{
            border: 5px solid black;
          }